body {
  margin: 0;
  font-family: "TT Lakes";
  background-color: #F8F8F8;
  font-size: 14px;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
}
a, button {
  cursor: pointer;
}

a:hover, button:hover {
  opacity: 0.7;
}

a:focus, button:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
  border-radius: 5px;;
}

.header__burger:focus,
.action__button:focus {
  border-radius: 50%;
}
.header {
  display: flex;
  align-items: center;
  height: 88px;
  background: #FFFFFF;
  padding-left: 16px;
}

.header__burger, .action__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 20px;
border: none;
  background: #FF3E79;
  Width: 40px;
  height: 40px;
  border-radius: 20px;
}

.header__burger {
  margin-right: 17px;
}

.header__burger-logo {
  background: none;
border: none;
}

.header__img-logo {
  width: 96px;
  height: 51px;
}

.header__actions {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.action:nth-child(1),
.action:nth-child(2),
.action:nth-child(3) {
  display: none;
}

.action:nth-child(4) {
  display: flex;
  position: relative;
  align-items: center;
}

.services-menu__item:nth-child(7) {
  display: none;
}

.action:before {
  content: "";
  position: absolute;
  left: -20px;
  width: 2px;
  height: 32px;
  background: #eaeaea;
  border-radius: 1px;
}

.action:nth-child(5) {
  margin: 0 16px;
}
.services {
  display: flex;
}
.services__title {
  font-family: "TT Lakes";
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: -0.6px;
  margin-left: 16px;
  margin-bottom: 24px;
  margin-top: 0;
}
.services__title:before {
  content: "";
  position: absolute;
  height: 40px;
  width: 4px;
  background: #41F6D7;
  border-radius: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  left: 0;
}
.services-menu {
  display: flex;
  flex-wrap: nowrap;
  font-size: 16px;
  list-style-type: none;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  white-space: nowrap;
  margin-bottom: 24px;
  
  overflow: scroll;
}
.services-menu__item {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
.services-menu__item:nth-child(6) {
  margin-right: 0;
}
.services-menu__btn {
  padding: 8px 22px;
  font-size: 16px;
  border: none;
  background-color: #F8F8F8;
}
.services-menu__btn:active {
  border: 1px solid #B8FFEC;
  border-radius: 6px;
  padding: 8px 9px 8px 16px;
  background-color: white;
}
.services-menu__btn--active {
  padding: 8px 9px 8px 16px;
  width: 246px;
  height: 40px;
  background-color: white;
  border: 1px solid #B8FFEC;
  border-radius: 6px;
  margin-left: 16px;
}

.main-inform__block {
  width: 100%;
  margin-top: 60px;
}
.main-inform__block__picture {
  width: 100%;
}
.main-inform__txt {
  font-size: 1.15rem;
  margin-right: 24px;
  margin-left: 24px;
  min-width: 288px;
}
.about__show-more {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #F8F8F8;
  border: none;
  min-width: 132px;
  font-size: 1.15rem;
  font-weight: 500;
  padding: 16px;
  margin: 0;
  padding-left: 0;
}
.services__main-menu {
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
  .main__services {
    margin: 0;
  }
  .services__title {
    margin-top: 24px;
    margin-left: 32px;
  }
  .services__main-menu {
    display: none;
  }
  .action:nth-child(1),
  .action:nth-child(2),
  .action:nth-child(3) {
      display: block;
      margin-left: 16px;
  }
  .action:nth-child(4) {
      margin-left: 40px;
  }
  .main-inform {
    display: flex;
  }
  .main-inform__block {
    margin-right: 25px;
    margin-bottom: 14px;
    margin-top: 0;
  }
  .main-inform__block__picture {
    width: 360px;
    height: 208px;
    border-radius: 6px;
  }
}
@media (min-width: 1120px) {
  .header {
    display: none;
  }
  .main__services .services {
    display: flex;
    margin: 0;
    align-items: center;
  }
  .services__main-menu {
    display: flex;
    margin-left: auto;

  }
  h1 {
    margin: 0;
  }
  .services__title {
    margin-left: 32px;
    margin-top: 20px;
  }
  .action__button--repair {
    display: flex;
    border: none;
    background-color: #F8F8F8;
    align-items: center;
    margin-right: 32px;

  }
  
  .action__button--checkstatus {
    display: flex;
    border: none;
    background-color: #F8F8F8;
    align-items: center;
    margin-right: 32px;
  }
  .button__about {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px;
  }
  .services-menu {
    overflow: hidden;
  }
  .services__menu-item:nth-child(7) {
    display: block;
  }
  .main-inform__txt {
    font-size: 1.3rem;
    margin-right: 36px;
  }
  .main-inform__block {
    margin-right: 29px;
    margin-bottom: 49px;
  }
  .main-inform__block__picture {
    width: 532px;
    min-height: 307px;
  }
}
